* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background: url('/Front-End/assets/images/background.png') no-repeat center/cover;
}

main {
    padding-top: 80px;

}

.header {
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 120px;
    display: flex;
    justify-content: center;
    /* From https://css.glass */
    background: rgba(170, 170, 170, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    border: 1px solid rgba(170, 170, 170, 0.4);

}

.logo img {
    justify-self: left;
    max-width: 90px !important;
    height: auto;
}

.int-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: 600;
}

.navbar a {
    color: black;
    font-size: 18px;
    text-decoration: none;
    margin-left: 35px;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.navbar a:hover {
    border-bottom: 2px solid black;
}

.imagem-gradiente {
    width: 100%;
    
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}