/* Define os padrões de CSS para toda a página */
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

/* Define os padrões de CSS para o html e o body */
html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* Define os padrões de CSS para a Main */
main {
    margin: 0;
    padding: 0;
}

/* Classe responsável por configurar a primeira seção da página inicial */
.hero {
    position: relative;
    padding-top: 0;
    margin: 0;
    overflow: hidden;
    min-height: 90vh;
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, #Fffff0 100%), url('/Front-End/assets/images/background.png') no-repeat center/cover;
}

/* Classe responsável pela caixa de conteúdo que está na primeira seção, com os botões e o texto chamativo */
.hero-conteudo {
    margin-left: 80px;
    padding: 24px;
    min-width: 100%;
    background: rgba(170, 170, 170, 0.06);
    border-radius: 32px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    border: 2px solid rgb(240, 238, 238);
}

/* Classes hero-botoes que são responsáveis pelos botões da primeira seção, sendo diferenciados pela cor,
seja .btn-amarelo ou .btn-roxo */
.hero-botoes .btn-amarelo {
    background: #FCC003;
    color: #534D00;
    font-size: 1.5em;
    border-radius: 16px;
    font-weight: 600;
    transition: 0.5s;
}

.hero-botoes .btn-roxo {
    background: #9500ff;
    color: white;
    font-size: 1.5em;
    border-radius: 16px;
    font-weight: 600;
    transition: 0.5s;
}

/* Classe que define a segunda seção da página inicial */
.features {
    position: relative;
    overflow: hidden;
    min-height: 90vh;
    display: flex;
    background: #fffff0;
}

/* Classe .feature-conteudo responsável pelo primeiro texto da seção feature */
.feature-conteudo {
    margin: 5%;
    padding: 24px;
    min-height: 65%;
    background: rgba(170, 170, 170, 0.06);
    border-radius: 32px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    border: 2px solid rgb(240, 238, 238);
}

/* Classe .feature-citacao responsável pela citação da seção feature */
.feature-citacao {
    margin: 5%;
    padding: 24px;
    min-height: 65%;
    background: rgba(170, 170, 170, 0.06);
    border-radius: 32px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    border: 2px solid rgb(240, 238, 238);
}

/* .feature-citacao before e after são responsáveis pelas aspas localizadas nas extremidades da caixa de citações */
.feature-citacao::before,
.feature-citacao::after {
    content: '"';
    position: absolute;
    font-family: 'Montserrat', serif;
    font-size: 8.5rem;
    font-weight: 700;
    color: gray;
    line-height: 1;
}

.feature-citacao::before {
    top: -10px;
    left: -40px;
}

.feature-citacao::after {
    bottom: -60px;
    right: -40px;
}

/* .feature-init-text e seu respectivo span, definem o texto principal de cada caixa entre as primeiras duas da feature */
.feature-init-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: 400;
}

.feature-init-text span {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 700;
    color: #9500ff;
}

/* .feature-init-sub-text, definem o texto descritivo de cada caixa entre as primeiras duas da feature */
.feature-init-sub-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
}

/* .feature-exp-text e seu respectivo span, definem o texto principal da pergunta central da features "Como a CRIATIVA funciona?" */
.feature-exp-text {
    padding: 24px;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: 400;
    color: #000000;
}

.feature-exp-text span {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 700;
    color: #9500ff;
}

/* .feature-exp-text e seu respectivo span, definem o título das explicações da features "Como a CRIATIVA funciona?" */
.feature-exp-sub-text {
    padding: 24px;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: 400;
    color: #000000;
}

.feature-exp-sub-text span {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 700;
    color: #9500ff;
}

/* .feature-exp-text e seu respectivo span, definem o texto descritivo das explicações de "Como a CRIATIVA funciona?" */
.feature-exp-desc-text {
    padding: 24px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    color: #000000;
}

.feature-exp-desc-text span {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 700;
    color: #9500ff;
}

.feature-botoes .btn-amarelo {
    background: #FCC003;
    margin: 5%;
    color: #534D00;
    font-size: 2em;
    border-radius: 16px;
    font-weight: 600;
    transition: 0.5s;
}

.btn-amarelo:hover {
    background: #fdc50e;
    transform: scale(1.05);
    box-shadow: 0 8px 20px #fcc20352;

}

.feature-botoes .btn-roxo {
    background: #9500ff;
    margin: 5%;
    color: white;
    font-size: 2em;
    border-radius: 16px;
    font-weight: 600;
    transition: 0.5s;
}

.btn-roxo:hover {
    background: #9b0eff;
    transform: scale(1.05);
    box-shadow: 0 8px 20px #9500ff5e;

}

/* Classe .header é responsável por definir os parâmetros principais da .navbar, em especial seu aspecto de vidro */
.header {
    z-index: 1000;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 120px;
    display: flex;
    justify-content: center;
    /* From https://css.glass */
    background: rgba(170, 170, 170, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    border: 1px solid rgba(170, 170, 170, 0.4);

}

/* Classe que manipula a imagem da logo presente na .navbar */
.logo img {
    justify-self: left;
    max-width: 90px !important;
    height: auto;
}

/* Classe que manipula o texto da section .hero */
.int-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: 400;
}

.int-text span {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 700;
    color: #9500ff;
}

/* Classe que manipula o texto descritivo da section .hero */
.int-sub-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: 400;
}

/* Classe que manipula a navbar e sua hover respectiva */
.navbar a {
    color: black;
    font-size: 18px;
    text-decoration: none;
    margin-left: 35px;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.navbar a:hover {
    border-bottom: 2px solid black;
}